.env*
.env
.env.local
.env.production
*.db
postgres.dump
*.log
logs/
__pycache__/
*.pyc
*.pyo
node_modules/
media/
uploads/
*.key
*.pem
*.p122
*.p12
*.pfx
*.json
*.xlsx
*.dump
.vscode/
.idea/
*.swp
*swo
.DS_Store
Thumbs.db
*.tmp
*.temp
