
{% include "head.html" %}
{% load static %}
{% load home_extras %}
<!--<link rel="stylesheet" type="text/css" href="{% static "qb_style.css" %}">-->
<style>
    .overlay{
        height:100%;
        position:absolute;
        width:100%;
        z-index:5;
        background-color: rgba(50,50,50,0.5);
    }
    #filters .card-header[aria-expanded=true] .ni {
        transform: rotate(180deg);
    }
    .select2-selection--single{
        height:100%!important;
    }
    .select2-container .select2-search--inline{
        display: block !important;
    }
</style>
<body>
{% include "sidebarlinks.html" %}
<div class="main-content" id="panel">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <div id="app">
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
<!--                            <h6 class="h2 text-white d-inline-block mb-0">Default</h6>-->
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#">Report Management</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Overview</li>
                                </ol>
                            </nav>
                        </div>
                        <!--                            <div class="col-lg-6 col-5 text-right">-->
                        <!--                                <a href="#" class="btn btn-sm btn-neutral">New</a>-->
                        <!--                                <a href="#" class="btn btn-sm btn-neutral">Filters</a>-->
                        <!--                            </div>-->
                    </div>
                    <!-- Card stats -->
                    <section id="summary" class="shadow rounded-lg " >


                        <div id="filters" class="card shadow-none">

                            <div class="card-header pt-3 pb-3 collapsed" data-toggle="collapse" data-target="#filtersCollapse" aria-expanded="false">
                                <h3 class="mb-0">Filters <i class="ni ni-bold-down float-right"></i></h3>
                            </div>
                            <div class="card-body collapse" id="filtersCollapse">
                                <div class="card-body" >

                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>
                                                    Customers
                                                </label>
                                                <select name="customer_name_table" class="customer_select_table form-control" multiple>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>
                                                    Status
                                                </label>
                                                <select name="status_name_table" class="status_select_table form-control" style="width: 100%;" multiple="multiple">
                                                    <option value="Initiated">Initiated</option>
                                                    <option value="Review">Review</option>
                                                    <option value="TL">TL</option>
                                                    <option value="QC">QC</option>
                                                    <option value="CRM">CRM</option>
                                                    <option value="Published">Published</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>
                                                    Report Types
                                                </label>
                                                <select name="record_name_table" class="record_type_table form-control" style="width: 100%;" multiple="multiple">
                                                    <option></option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">

                                                <div class="form-group">
                                                    <label>
                                                        Month - Year
                                                    </label>
                                                    <div class="input-group input-group-alternative mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                        </div>
                                                        <input class="form-control datepicker" id="month_of_interest" placeholder="Select date" type="text">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-3 col-sm-12">

                                                <div class="form-group ">
                                                    <label>
                                                        No of records per page
                                                    </label>
                                                    <div class="input-group border-dark">
                                                        <select name="views_per_page" id="page_per_view" class="form-control bg-white">
                                                            <option value="5" selected>5</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </div>

                                                </div>

                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                            <button class="btn bg-primary text-white " type="button" v-on:click="current_page = 0; filterselections();">
                                             Submit
                                            </button>
                                    </div>


                                </div>
<!--                                <div class="card-footer pb-0">-->
<!--                                    <div class="row">-->
<!--                                         <div class="col-7 text-right">-->
<!--                                            <button class="btn bg-primary text-white " type="button" v-on:click="filterselections()">-->
<!--                                             Submit-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="col-5">-->
<!--                                            <nav aria-label="Page navigation example">-->
<!--                                                <ul class="pagination justify-content-end">-->
<!--                                                    <li class="page-item">-->
<!--                                                        <a class="page-link"  tabindex="-1"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a>-->
<!--                                                    </li>-->
<!--                                                    <li class="page-item active" value="0" v-on:click="updatepagination"><a class="page-link">1</a></li>-->
<!--                                                    <li class="page-item" v-on:click="updatepagination" v-for="page in no_pages" :key="page"  :value="page"><a class="page-link" >[[ page+1 ]]</a></li>-->
<!--                                                    <li class="page-item">-->
<!--                                                        <a class="page-link" >        <i class="fa fa-angle-right"></i>-->
<!--                                                            <span class="sr-only">Next</span></a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </nav>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
                            </div>
                        </div>
                    </section>
                    <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pt-3 pb-3">
                            <h2 class="text-center mb-0"> Tasks </h2>
                        </div>
                        <div class="card-body pt-3">
                            <div class="row justify-content-center" v-if="no_records == 0"><p class="mb-0">No Tasks found</p></div>
                            <div v-if="no_records>0">
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <div class="row">
                                            <div class="col-3">
                                                <p class="mb-0 text-primary font-weight-bold">Total Records : [[no_records]]</p>
                                        </div>
                                            <div class="col-9">
                                            <ul class="pagination justify-content-end">
                                                        <li class="page-item">
                                                            <a class="page-link"  tabindex="-1"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a>
                                                        </li>
                                                        <li :class="current_page==0?'page-item active':'page-item'" value="0" v-on:click="updatepagination"><a class="page-link">1</a></li>
                                                        <li :class="current_page==page?'page-item active':'page-item'" v-on:click="updatepagination" v-for="page in no_pages" :key="page"  :value="page"><a class="page-link" >[[ page+1 ]]</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" >        <i class="fa fa-angle-right"></i>
                                                                <span class="sr-only">Next</span></a>
                                                        </li>
                                                    </ul>
                                        </div>
                                        </div>

                                                </nav>
                                </div>
                                <div class="table-responsive">
                                    <div>

                                        <table class="table align-items-center table-dark" v-if="no_records>0">
                                            <thead class="thead-dark">
                                            <tr >
                                                <th class="text-center"  >#</th>
                                                <th class="text-center" >Customer Name</th>
                                                <th class="text-center" >Report Level</th>
                                                <th class="text-center" >Report Type</th>
                                                <th class="text-center" >Month-Year</th>
                                                <th class="text-center" >Status</th>
                                                <th class="text-center" >Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            <tr scope="row" v-for="(item,index) in records">
                                                <td class="text-center">[[(current_page*page_per_view)+index+1 ]]</td>
                                                <td class="text-center">[[item.customer | entityName ]]</td>
                                                <td class="text-center">
                                                    <span v-if="reportLevelList[reportTypeList.indexOf(item.report_type_id)] =='customer'"> NA </span>
                                                    <span v-if="reportLevelList[reportTypeList.indexOf(item.report_type_id)] =='legalentity'"> [[item.legalentity["name"] ]]</span>
                                                    <span v-if="reportLevelList[reportTypeList.indexOf(item.report_type_id)] =='outlet'"> [[item.outlet["name"] ]]</span>
                                                    <span v-if="reportLevelList[reportTypeList.indexOf(item.report_type_id)] =='brand'"> [[item.brand["name"] ]]</span>
                                                </td>
                                                <td class="text-center">[[item.report_type]]</td>
                                                <td class="text-center">[[item.month]] - [[item.year]]</td>
                                                <td class="text-center">[[item.status]]</td>
                                                <td class="td-actions text-center">
                                                    <button type="button" rel="tooltip"  class="btn btn-success btn-sm btn-icon">
                                                        <a style="color:white" :href="'/tasks/active?month='+(item.month)+'&year='+(item.year)+'&report_type='+(item.report_type)+'&entity_id='+(item.entity_id)+'&version=latest'" target="_blank"><i class="ni ni-bold-right"></i></a>
                                                    </button>
                                                    <button type="button" rel="tooltip" item.status=='Published'  class="btn btn-success btn-sm btn-icon">
                                                        <a style="color:white" :href="'/reports/get/file/'+(item.id)+'/0/excel/'" target="_blank"><i class="fa fa-file-excel-o"></i></a>
                                                    </button>
                                                    <button type="button" rel="tooltip" item.status=='Published' class="btn btn-danger btn-sm btn-icon">
                                                        <a style="color:white" :href="'/reports/get/file/'+(item.id)+'/0/pdf/'" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                                    </button>
                                                    <!-- <button type="button" v-if="item.report_type=='Closing Stock' && item.status=='Published'" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                                                        <a :href="'/reports/get/file/'+(item.id)+'/1/excel'" target="_blank"><i class="fa fa-file-excel-o"></i></a>
                                                    </button>
                                                    <button type="button" v-if="item.report_type=='Swiggy Dump Level Reconciliation' && item.status=='Published'" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                                                        <a :href="'/reports/get/file/'+(item.id)+'/1/excel'" target="_blank"><i class="fa fa-file-excel-o"></i></a>
                                                    </button> -->
                                                    {% if request.user|has_group:"Manager" %}
                                                    <button type="button" v-if="item.status!='Published'" title="Deactivate" rel="tooltip" class="btn btn-warning btn-sm btn-icon" @click="deactivatetask(item.id)">

                                                        <i class="fa fa-ban"></i>
                                                        <!-- <a :href="'/reports/get/file/'+(item.id)+'/1/excel'" target="_blank"><i class="fa fa-file-excel-o"></i></a> -->
                                                    </button>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center text-lg-left text-muted">
                            &copy; 2019 <a href="https://www.firstcourse.in" class="font-weight-bold ml-1" target="_blank">FirstCourse</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.firstcourse.in" class="nav-link" target="_blank">FirstCourse</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.firstcourse.in/aboutus" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <!--                                <li class="nav-item">-->
                            <!--                                    <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>-->
                            <!--                                </li>-->
                            <!--                                <li class="nav-item">-->
                            <!--                                    <a href="https://www.creative-tim.com/license" class="nav-link" target="_blank">License</a>-->
                            <!--                                </li>-->
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</div>
{% include 'footer.html' %}
<script src="{% static 'js/insights.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#page_per_view").on('change',function(){

            app.page_per_view=$(this).val();
            //app.no_pages=Math.ceil(app.no_records/app.page_per_view-1);

            //app.filterselections();
        });

        $('.record_type_table').on('change',function(){
            console.log("record select changed");
            //app.filterselections();
        });

        $('.status_select_table').select2({
            placeholder: "Select the status",
            allowClear: true,
        });

        $('.status_select_table').on('change',function(){
            //app.filterselections();
        });

        $('#month_of_interest').on('change',function(){
            //app.filterselections();
        });
        //
        // function showNotification(from, align,color,message){
        //     $.notify({
        //         icon: "now-ui-icons ui-1_bell-53",
        //         message: message
        //
        //     },{
        //         type: color,
        //         timer: 2000,
        //         placement: {
        //             from: from,
        //             align: align
        //         }
        //     });
        // }
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        axios.interceptors.request.use(config => {
            // log a message before any HTTP request is sent
            console.log('Request was sent');
            addspinner();


            return config;
        });




        function addspinner(){

            $(".spinner-border").removeClass("d-none");
            $(".spinner-border").addClass("d-block",400);
            $(".tab-content").addClass("opacity50",400);
            $('.customer_select').val(null).trigger('change');

        }
        function removespinner(){

            $(".spinner-border").removeClass("d-block",400);
            $(".spinner-border").addClass("d-none",400);
            $(".tab-content").removeClass("opacity50",400);

        }
        axios.interceptors.response.use(function (response) {
            // Any status code that lie within the range of 2xx cause this function to trigger
            // Do something with response data
            removespinner();
            return response;
        }, function (error) {
            // Any status codes that falls outside the range of 2xx cause this function to trigger
            // Do something with response error
            removespinner();
            return Promise.reject(error);
        });

    });
</script>
<script type="text/javascript">
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'Hello Vue!',
            no_records: 0,
            customers:null,
            cust_accounting:{},
            records:null,
            tasks:null,
            status_types:null,
            report_types:null,
            current_page:0,
            page_per_view:5,
            no_pages:0,
            current_report_id:0,
            stage:'{{stage}}',
            filtersearch:false,
            reportTypeList:["P_L","CL_ST","GST","CON_ANA","PUR_EFF","P_L_LE_CON","CPR"],
            reportLevelList:["outlet","customer","legalentity","outlet","legalentity","legalentity","legalentity"],
        },
        methods:{
            getnotifications: function(){

            },
            printnotifications: function(){

            },
            processtask:function(type,id){
                this.current_report_id=id;
                if(type === "Profit Statement")
                {
                    $('#PLTask').modal('show');

                }
                else if(type == "GST Summary")
                {
                    $("#GSTTask").modal('show');

                }
                else if(type == "Swiggy Dump Level Reconciliation")
                {
                    $("#SDLRTask").modal('show');

                }

            },
            updatepagination: function(event){

                this.current_page=event.target.parentNode.value;
                if(this.filtersearch)
                    this.filterselections();
                else
                    this.gettaskdata();


            },

            updatetable : function(){
                console.log("update table");
                var params = {
                    no_per_page:this.page_per_view,
                    page:this.current_page
                };
                axios.get('/reports/get/records/',{params})
                    .then(function (response) {
                        app.records=response.data.records;

                    }).catch(function(error){
                    console.log("Error");
                });

                var url='/reports/get/tasks/all';
                app.tasks = [];
                axios.get(url,{params})
                    .then(function (response) {
                        app.tasks=response.data.tasks;

                    }).catch(function(error){
                    console.log("Error");
                });

            },
            deactivatetask:function(reportid)
            {
              swal({
                  // title: "Are you sure?",
                  text: "Are you sure you want to deactivate the task ? ",
                  // icon: "warning",
                  buttons: {
                      cancel: {
                        text: "Cancel",
                        visible: true,
                        className: "btn-warning",
                      },
                      confirm: {
                        text: "Ok",
                        visible: true,
                        className: "btn-success",
                      }
                  },
                  dangerMode: false,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    console.log(reportid);
                    var formData = new FormData();
                    var csrftoken = Cookies.get('csrftoken');
                    formData.append('report_id',reportid);
                    var url="/reports/deactivate/task/";
                    app.addspinner();
                    axios.post(url,
                        formData,
                        {
                            headers:
                                {
                                    'X-CSRFToken':csrftoken
                                }
                        }
                    ).then(function(data1){
                        app.removespinner();
                        app.showNotification("top","right","success",data1.data.message);
                        window.location.reload();

                    }).catch(function(error){
                        app.removespinner();
                        console.log(error)
                        app.showNotification("top","right","danger",error.response.data.message);
                    });
                  }
                });

            },
            showNotification: function (from, align, color, message) {
                $.notify({
                    icon: "now-ui-icons ui-1_bell-53",
                    message: message

                }, {
                    type: color,
                    timer: 2000,
                    placement: {
                        from: from,
                        align: align
                    }
                });
            },
            addspinner: function () {
                $(".overlay").addClass("d-block");
                $(".overlay").removeClass("d-none");
                $(".loader").removeClass("d-none");
                $(".loader").addClass("d-block", 400);
            },
            removespinner: function () {
                $(".overlay").addClass("d-none");
                $(".overlay").removeClass("d-block");
                $(".loader").removeClass("d-block", 400);
                $(".loader").addClass("d-none", 400);
            },
            gettaskdata:function(){
            var params =
                        {
                            no_per_page:app.page_per_view,
                            status:$('.status_select_table').val(),
                            page:app.current_page
                        };
                console.log("params data");
                console.log(params);
                app.records = [];
                axios.get('/reports/get/records/',{params})
                    .then(function (response) {
                        console.log("After mounted");
                        console.log(response.data.count);
                        app.records=response.data.records;
                        app.no_records=response.data.count;
                        app.page_per_view=$("#page_per_view").val();
                        app.no_pages=Math.ceil(app.no_records/app.page_per_view-1);
                        console.log(app.no_pages);
                    }).catch(function(error){
                    console.log("Error");
                });
<!--                var url='/reports/get/tasks/all';-->
<!--                app.tasks = [];-->
<!--                axios.get(url,{params})-->
<!--                    .then(function (response) {-->
<!--                        app.tasks=response.data.tasks;-->

<!--                    }).catch(function(error){-->
<!--                    console.log("Error");-->
<!--                });-->
            },
            filterselections : function(){
                console.log("filter selections");
                var customers = $('.customer_select_table').val();
                //console.log(customers);
                //customers=customers.map(Number);
                //console.log(customers);
                var rtype=$('.record_type_table').val();
                var page=app.current_page;
                console.log(page);
                var view_per_page=app.page_per_view;
                var status=$('.status_select_table').val();
                console.log(status);
                var month=$('#month_of_interest').val()
                var params = {
                    customer: customers,
                    rtype:rtype,
                    no_per_page:view_per_page,
                    page:page,
                    status:status,
                    month:month
                };

                var url='/reports/get/records/';
                app.records = [];
                axios.get(url,{params})
                    .then(function (response) {
                        console.log("response");
                        app.no_records=response.data.count;
                        if(response.data.count>0)
                        {
                            console.log(response.data.records);
                            app.records=response.data.records;
                            console.log(response.data.count);
                            app.page_per_view=$("#page_per_view").val();
                            app.no_pages=Math.ceil(app.no_records/app.page_per_view-1);
                        }
                        app.filtersearch=true;
                        $('#filtersCollapse').collapse('hide');

                    }).catch(function(error){
                    console.log("Error : "+error);
                });





            },
            get_customers:function(){
                axios.get('/customers/get/mine')
                    .then(function (response) {
                        console.log(response.data.result);
                        var options=[]
                        if(response.data.result!=''){
                            app.customers=response.data.result;
                            $.each(app.customers,function(index,value){
                                app.cust_accounting[value._id]=value.accounting;
                                options.push({
                                    "id":value._id,
                                    "text":value.name
                                });
                            });
                            console.log("Options are");
                            console.log(options);
                            $('.customer_select_table').select2({
                                placeholder: "Select the Customer",
                                width: "100%",
                                allowClear: true,
                                data: options
                            }).on("change", function() {
                                console.log("customers changed");
                            });
                        }
                    }).catch(function(error){
                    console.log(error);
                    console.log("Error");
                }).finally(function(){
    
                });
            },

        },

        
        mounted: function(){
            console.log("mounted");
            console.log(this.stage);
            this.get_customers();
            $("#fcdashboard").addClass("active");
            $("#fcdashboard").addClass("show");
            var status=[];
            axios.get('/employees/get/myinfo')
                        .then(function (response) {
                        console.log(" get my info response");
                            console.log(response.data.groups);
                            var groups=response.data.groups;
                            for(var i=0;i<groups.length;i++)
                            {
                                console.log(groups[i].name+" : "+app.stage);
                                if(groups[i].name == "Accountant"){
                                    if(app.stage!=null && app.stage=='pending')
                                    {
                                        status.push("Initiated","Review");
                                    }
                                    else if(app.stage!=null && app.stage=='sentforapproval')
                                    {
                                        status.push("TL","QC","CRM");
                                    }
                                    else if(app.stage!=null && app.stage=='completed')
                                    {
                                       status.push("Published");
                                    }
                                }

                                if(groups[i].name == "TeamLead"){
                                    if(app.stage!=null && app.stage=='pending')
                                    {
                                        status.push("TL");
                                    }
                                    else if(app.stage!=null && app.stage=='sentforapproval')
                                    {
                                        status.push("QC","CRM");
                                    }
                                    else if(app.stage!=null && app.stage=='completed')
                                    {
                                       status.push("Published");
                                    }
                                }

                                if(groups[i].name == "QC"){
                                    if(app.stage!=null && app.stage=='pending')
                                    {
                                        status.push("QC");
                                    }
                                    else if(app.stage!=null && app.stage=='sentforapproval')
                                    {
                                        status.push("CRM");
                                    }
                                    else if(app.stage!=null && app.stage=='completed')
                                    {
                                       status.push("Published");
                                    }
                                }

                                if(groups[i].name == "CRM"){
                                    if(app.stage!=null && app.stage=='pending')
                                    {
                                        status.push("CRM");
                                    }

                                    else if(app.stage!=null && app.stage=='completed')
                                    {
                                       status.push("Published");
                                    }
                                }
                            }

                        }).catch(function(error){
                        console.log(" get myinfo Error : "+error);
                    }).finally(function(){
                        $('.status_select_table').val(status);
                        $('.status_select_table').select2();
                        app.gettaskdata();
                    });

            var data123=[];
            axios.get('/reports/get/choices/')
                .then(function (response) {
                    console.log(response)
                    app.report_types=response.data.report_type;
                    app.status_types=response.data.status_type;
                    var count = 1;
                    for(i=0;i<app.report_types.length;i++){
                        data123.push({"id":app.report_types[i][0],"text":app.report_types[i][1]});
                    }
                    console.log(data123);
                    $('.record_type_table').select2({
                        placeholder: "Select the report type",
                        allowClear: true,
                        tags: true,
                        data:data123,
                    });


                }).catch(function(error){
                console.log("Error");
            });

            axios.get('/customers/get/mine/?format=json')
                .then(function (response) {
                    // handle success
                    app.customers=response.data.result;
                })
                .catch(function (error) {
                    // handle error
                    console.log("error");
                });



            $('.datepicker').datepicker({
                format: "mm yyyy",
                startView: "months",
                minViewMode: "months",
                autoclose: true
            });


        },
        updated: function(){

            $('.page-item').click(function() {
                $(this).addClass('active').siblings().removeClass('active');

            });

        },
        filters: {
            entityName:  function (x) {
                try{
                    if (!x) return ''
                    x=x.replaceAll("'","\"")
                    res=JSON.parse(x).name
                    return res;
                }
                catch(e){
                    return x;
                }
            }
        }

    });
</script>
</body>
</html>
