{% load static %}
{% block footer %}
<footer class="footer">
    <div class="navbar-header justify-content-around" style="width:100%;padding:0px;">

        <div class="d-flex">
            <div class="d-inline-block align-middle ml-1">
                <a href="/reports/summary/" class="btn header-item summary-btn noti-icon waves-effect" style="height:50px;">
                    <i class="ri-home-3-line"></i>
                </a>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-inline-block align-middle ml-1">
                <a href="/reports/detail/P_L" class="btn header-item detail-btn noti-icon waves-effect" style="height:50px;">
                    <i class="ri-dashboard-line"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}