{% extends "ClientDashboard/ui8-nazox/mobile/client_base.html" %}

{% load static %}

{% block extrastyle %}
<style>

    .summary-btn i.active,.detail-btn i.active
    {
        color:darkgreen !important;
    }

</style>

{% endblock %}


{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12" v-if="payables_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('S_C_R')" class="dropdown-item">View Payables Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download Payables Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('Payables')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/analytics.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('Payables')">
                            Payables
                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('Payables')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="scr-chart" class="apex-charts" ></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Payables</p>
                                        <h5 class="mb-0">&#8377  [[payables_data.results.Rows.Row[payables_data.results.Rows.Row.length-1].Summary.ColData[1].value | toCurrency]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('CON_ANA')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="receivables_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('S_C_R')" class="dropdown-item">View Receivables Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download Receivables Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('Receivables')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/analytics.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('Receivables')">
                            Receivables
                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('Receivables')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="scr-chart" class="apex-charts" ></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Receivables</p>
                                        <h5 class="mb-0">&#8377  [[receivables_data.results.Rows.Row[receivables_data.results.Rows.Row.length-1].Summary.ColData[1].value | toCurrency]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('CON_ANA')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="pl_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('P_L')" class="dropdown-item">View Profit & Loss Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download P & L Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('P_L')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/line-chart-1.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('P_L')">Profit & Loss

                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('P_L')">
                            <div class="row">

                                <div class="col-12">
                                    <div >
                                        <div class="mb-3">
                                            <div id="profit-chart" class="apex-charts"></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">[[pl_data.results.Page2.table1.records[14].Col1]]</p>
                                        <h5 class="mb-0">&#8377 [[pl_data.results.Page2.table1.records[14].Col4 | toCurrency]]</h5>
                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                                 <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('P_L')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="gst_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('GST')" class="dropdown-item">View GST Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download GST Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('GST')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/payout-2.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('GST')">GST</h4>
                        <div class="text-center" v-on:click="showDetailedReport('GST')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="gst2" class="apex-charts" ref="radialchart1"></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Net GST Payable</p>
                                        <h5 class="mb-0">&#8377 [[gst_data.net_gst_payable| toCurrency ]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('GST')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12" v-if="pe_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('PUR_EFF')" class="dropdown-item">View Purchase Efficiency Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download Purchase Efficiency Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('PUR_EFF')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/money-box.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('PUR_EFF')">
                            Purchase Efficiency
                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('PUR_EFF')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="pe-loss-chart" class="apex-charts" ></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Purchase Efficiency Loss</p>
                                        <h5 class="mb-0">&#8377  [[pe_data.results.summary.EfficiencyLoss | toCurrency]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('PUR_EFF')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="ca_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('CON_ANA')" class="dropdown-item">View Consumption Analysis Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download Consumption Analysis Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('CON_ANA')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/analytics.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('CON_ANA')">
                            Consumption Analysis Statement
                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('CON_ANA')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="con-chart" class="apex-charts" ></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Consumption in Value</p>
                                        <h5 class="mb-0">&#8377  [[ca_data.results.totalConsumption | toCurrency]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('CON_ANA')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="scr_loaded">
                <div class="card" >
                    <div class="card-body">
                        <div class="dropdown float-right" style="z-index:100;">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" v-on:click="showDetailedReport('S_C_R')" class="dropdown-item">View Sales Channel Reconciliation Report</a>
                                <a href="javascript:void(0);" class="dropdown-item">Download Sales Channel Reconciliation Report</a>
                                <!-- item-->
                            </div>
                        </div>
                        <div class="float-left" style="top:-10px;position:relative" v-on:click="showDetailedReport('S_C_R')">
                            <img src="{% static 'ui8-nazox/assets/images/flat-icons/analytics.png' %}"
                                 class="mr-3 avatar-xs">
                        </div>
                        <h4 class="card-title mb-4" v-on:click="showDetailedReport('S_C_R')">
                            Sales Channel Reconciliation
                        </h4>
                        <div class="text-center" v-on:click="showDetailedReport('S_C_R')">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div class="mb-3">
                                            <div id="scr-chart" class="apex-charts" ></div>
                                        </div>
                                        <p class="text-muted text-truncate mb-2">Sales Platform Value Difference</p>
                                        <h5 class="mb-0">&#8377  [[scr_data.results.salesPlatformDiff | toCurrency]]</h5>

                                        <div class="text-truncate pt-3">
                                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ml-2">From previous period</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                                <div class="row mt-3 justify-content-center">-->
                            <!--                                     <button class="btn btn-warning" type="button" v-on:click="showDetailedReport('CON_ANA')">-->
                            <!--                                     View Detailed Report-->
                            <!--                                     </button>-->
                            <!--                                 </div>-->

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->




    </div> <!-- container-fluid -->
</div>
{% endblock %}

{% block extrascript %}
{#<script src="{% static 'assets/js/jsonQ.min.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
<script>
    // $('#dropdownsummary .collapse').collapse('show');

    const vueApp = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            pl_data:'',
            payables_data:'',
            receivables_data:'',
            gst_data:'',
            pe_data:'',
            ca_data:'',
            scr_data:'',
            custid:0,
            userinfo:[],
            results:'',
            ismobile:false,
            pl_loaded:false,
            gst_loaded:false,
            pe_loaded:false,
            ca_loaded:false,
            scr_loaded:false,
            receivables_loaded:false,
            payables_loaded:false
        },
        mounted:function(){
            // console.log(this.custid);


            $(".summary-btn i").addClass("active");
            $(".detail-btn i").removeClass("active");
            console.log("active");
            $('#carouselExampleControls').carousel({interval: false});
            var userinfourl='/customers/get/myinfo';
            axios.get(userinfourl)
                .then(function (response) {
                    //console.log(response.data.id);
                    vueApp.userinfo=response.data;
                    vueApp.custid=response.data.id;
                }).catch(function(error){
                //console.log("Error");
            });



            // var resulturl='/reports/get/result/all/';
            // axios.get(resulturl)
            //     .then(function (response) {
            //         vueApp.results=response.data.result;
            //     }).catch(function(error){
            //     //console.log("Error");
            // });


            this.detectmobile();
            //console.log("Before mapping data");



            this.initialize_pl_data();
            this.initialize_gst_data();
            this.initialize_pe_data();
            this.initialize_ca_data();
            this.initialize_scr_data();
            this.initialize_payables_data();
            this.initialize_receivables_data();

            this.initPreloader();

            //console.log("After Axios PL API Pull")
            //console.log(current_result);


        },
        computed:{

        },
        updated:function(){

            $('#TotalSales').on('shown.bs.collapse', function () {
                setTimeout(function() {
                    if(vueApp.saleschart == null)
                        vueApp.createChart();

                },200);
            });

        },
        methods: {

            showDetailedReport:function(reportType)
            {
                //console.log(reportType);
                window.location.href='/reports/detail/'+reportType;

            },
            initPreloader: function () {
                $(window).on('load', function () {
                    $('#status').fadeOut();
                    $('#preloader').delay(350).fadeOut('slow');
                });
            },
            initialize_payables_data:function(){
                var resulturl='/reports/get/payables/latest/';
                //console.log("Map PL Data");
                var current_result='';
                axios.get(resulturl).then(function (response) {
                    console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        console.log("Hey its map Payables API");

                        current_result=response.data.result;
                        vueApp.payables_data=response.data.result;
                        vueApp.payables_loaded=true;


                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_receivables_data:function(){
                var resulturl='/reports/get/receivables/latest/';
                //console.log("Map PL Data");
                var current_result='';
                axios.get(resulturl).then(function (response) {
                    console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        console.log("Hey its map Receivables API");
                        console.log(response.data.result)
                        current_result=response.data.result;
                        vueApp.receivables_data=response.data.result;
                        vueApp.receivables_loaded=true;

                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_pl_data:function(){
                var resulturl='/reports/get/result/latest/';
                //console.log("Map PL Data");
                var current_result='';
                axios.get(resulturl,{
                    params: {
                        query_month: this.query_month,
                        query_year: this.query_year,
                        report_type: "P_L"
                    }
                }).then(function (response) {
                    console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        console.log("Hey its map PL API");

                        current_result=response.data.result;
                        vueApp.pl_data=response.data.result;
                        vueApp.pl_loaded=true;
                        vueApp.$nextTick(function(){
                            vueApp.initplcharts();
                        });

                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_gst_data:function(){
                var resulturl='/reports/get/result/latest/';
                var current_result='';
                //console.log("Map GST Data");
                axios.get(resulturl,{
                    params: {
                        query_month: this.query_month,
                        query_year: this.query_year,
                        report_type: "GST"
                    }
                }).then(function (response) {
                    console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        console.log("Map GST Data");
                        current_result=response.data.result;
                        vueApp.gst_data = response.data.result.results;
                        var b2b_total=0;
                        var b2c_total=0;
                        vueApp.gst_loaded=true;
                        $.each(vueApp.gst_data.b2b,function(index,value){
                            b2b_total+=value.total_gst;
                            //console.log(value.total_gst);
                        });
                        //console.log(b2b_total);
                        vueApp.gst_data.b2b_total=b2b_total;

                        //console.log(vueApp.gst_data.b2b_total);
                        $.each(vueApp.gst_data.b2c,function(index,value){
                            b2c_total+=value.total_gst;
                            //console.log(value.total_gst);
                        });
                        //console.log(b2c_total);
                        vueApp.gst_data.b2c_total=b2c_total;
                        vueApp.$nextTick(function(){
                            vueApp.initgstcharts();
                        });

                        //console.log(vueApp.gst_data.b2c_total);
                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_pe_data:function(){
                var resulturl='/reports/get/result/latest/';
                console.log("Map PE Data");
                var current_result='';
                axios.get(resulturl,{
                    params: {
                        query_month: this.query_month,
                        query_year: this.query_year,
                        report_type: "PUR_EFF"
                    }
                }).then(function (response) {
                    //console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        //console.log("Hey its map PL API");
                        current_result=response.data.result;
                        vueApp.pe_data=response.data.result;
                        var detailedlist=[];
                        var itemlist=[];
                        var finaldetailedlist=[]
                        $.each(vueApp.pe_data.results.itemsummaryTable,function(index,item){
                            itemlist.push(item.ItemName);
                        });
                        console.log(itemlist);
                        // var jsonQobj=jsonQ(vueApp.pe_data.results.billdetailedTable);

                        $.each(itemlist,function(index,value){
                            var values1=[];
                            $.each(vueApp.pe_data.results.billdetailedTable,function(ind,val){
                                if(val.ItemName === itemlist[index])
                                {
                                    values1.push(val)
                                }
                            });
                            detailedlist.push(values1);
                        });
                        var summary={
                            "EfficiencyLoss":0,
                            "IdealPurchasingCost":0,
                            "ActualPurchasingCost":0
                        };
                        $.each(vueApp.pe_data.results.datesummaryTable,function(index,item){
                            summary.EfficiencyLoss+=item.EfficiencyLoss;
                            summary.IdealPurchasingCost+=item.IdealPurchasingCost;
                            summary.ActualPurchasingCost+=item.ActualPurchasingCost;
                        });
                        vueApp.pe_data.results.summary=summary;
                        vueApp.pe_data.detailedlist=detailedlist;
                        vueApp.pe_loaded=true;
                        vueApp.$nextTick(function(){
                            vueApp.initpecharts();
                        });

                        //console.log(vueApp.pl_data.results);

                        //console.log("Printing PL results")
                        //console.log(current_result);
                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_ca_data:function(){
                var resulturl='/reports/get/result/latest/';
                console.log("Map CA Data");
                var current_result='';
                axios.get(resulturl,{
                    params: {
                        query_month: this.query_month,
                        query_year: this.query_year,
                        report_type: "CON_ANA"
                    }
                }).then(function (response) {
                    //console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        //console.log("Hey its map PL API");
                        current_result=response.data.result;
                        vueApp.ca_data=response.data.result;
                        var totalConsumption=0;
                        var totalPerConsumption=0.00;
                        $.each(vueApp.ca_data.results.consumptionTable,function(index,item){
                            totalConsumption=totalConsumption+parseInt(item.ItemSummary.consumption);
                            $.each(item.detailedList,function(dtlindex,dtlitem)
                            {
                                if(dtlitem.Name=="% of consumption to total sales")
                                {
                                    totalPerConsumption=totalPerConsumption+dtlitem.value;
                                    //console.log(totalPerConsumption);
                                }
                            });
                        });

                        vueApp.ca_data.results.totalConsumption=totalConsumption;
                        vueApp.ca_data.results.totalPerConsumption=totalPerConsumption.toFixed(2);
                        vueApp.ca_loaded=true;
                        console.log(vueApp.ca_data.results);
                        vueApp.$nextTick(function(){
                            vueApp.initcacharts();
                        });

                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },
            initialize_scr_data:function(){
            console.log("initialize_scr_data");
                var resulturl='/reports/get/result/latest/';
                console.log("Map SCR Data");
                var current_result='';
                axios.get(resulturl,{
                    params: {
                        query_month: this.query_month,
                        query_year: this.query_year,
                        report_type: "S_C_R"
                    }
                }).then(function (response) {
                    console.log(response.data.result);
                    if(response.data.result!='' && response.data.result.length!=0 && (typeof response.data.result.results !== "undefined")){
                        console.log("Hey its map SCR API");
                        current_result=response.data.result;
                        vueApp.scr_data=response.data.result;
                        var salesPlatformDiff=0;
                        $.each(vueApp.scr_data.results.reco_summary,function(index,item){
                            //console.log(item.Particulars);
                            if(item.Particulars!=null && item.Particulars!="" && item.Particulars=="Difference")
                            {
                                salesPlatformDiff=salesPlatformDiff+parseInt(item.Total);
                            }


                        });
                        vueApp.scr_data.results.salesPlatformDiff=salesPlatformDiff.toFixed(2);
                        vueApp.scr_loaded=true;
                        console.log(vueApp.scr_data.results);
                        vueApp.$nextTick(function(){
                            vueApp.initscrcharts();
                        });

                    }
                }).catch(function(error){
                    //console.log("Error");
                });
            },

            detectmobile:function(){
                if(window.matchMedia("(max-width: 767px)").matches){
                    this.ismobile=true;
                }
            },
            initplcharts:function(){

                var radialoptions = {
                    series: [65],
                    chart: {
                        type: 'radialBar',
                        wight: 60,
                        height: 60,
                        sparkline: {
                            enabled: true
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#5FAD56'],
                    stroke: {
                        lineCap: 'round'
                    },
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 0,
                                size: '70%'
                            },
                            track: {
                                margin: 0,
                            },

                            dataLabels: {
                                show: false
                            }
                        }
                    }
                };
                var radialchart = new ApexCharts(document.querySelector("#profit-chart"), radialoptions);
                radialchart.render();
            },
            initgstcharts:function(){


                var radialoptions = {
                    series: [65],
                    chart: {
                        type: 'radialBar',
                        wight: 60,
                        height: 60,
                        sparkline: {
                            enabled: true
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#A3320B'],
                    stroke: {
                        lineCap: 'round'
                    },
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 0,
                                size: '70%'
                            },
                            track: {
                                margin: 0,
                            },

                            dataLabels: {
                                show: false
                            }
                        }
                    }
                };
                var radialchart = new ApexCharts(document.querySelector("#gst2"), radialoptions);
                radialchart.render();

            },
            initpecharts:function(){
                var radialoptions = {
                    series: [72],
                    chart: {
                        type: 'radialBar',
                        wight: 60,
                        height: 60,
                        sparkline: {
                            enabled: true
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#1985A1'],
                    stroke: {
                        lineCap: 'round'
                    },
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 0,
                                size: '70%'
                            },
                            track: {
                                margin: 0,
                            },

                            dataLabels: {
                                show: false
                            }
                        }
                    }
                };
                var radialchart = new ApexCharts(document.querySelector("#pe-loss-chart"), radialoptions);
                radialchart.render();

            },
            initcacharts:function(){
                var radialoptions = {
                    series: [72],
                    chart: {
                        type: 'radialBar',
                        wight: 60,
                        height: 60,
                        sparkline: {
                            enabled: true
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#1985A1'],
                    stroke: {
                        lineCap: 'round'
                    },
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 0,
                                size: '70%'
                            },
                            track: {
                                margin: 0,
                            },

                            dataLabels: {
                                show: false
                            }
                        }
                    }
                };
                var radialchart = new ApexCharts(document.querySelector("#con-chart"), radialoptions);
                radialchart.render();

            },
            initscrcharts:function(){
                var radialoptions = {
                    series: [72],
                    chart: {
                        type: 'radialBar',
                        wight: 60,
                        height: 60,
                        sparkline: {
                            enabled: true
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#1985A1'],
                    stroke: {
                        lineCap: 'round'
                    },
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                margin: 0,
                                size: '70%'
                            },
                            track: {
                                margin: 0,
                            },

                            dataLabels: {
                                show: false
                            }
                        }
                    }
                };
                var radialchart = new ApexCharts(document.querySelector("#scr-chart"), radialoptions);
                radialchart.render();

            },
        },
        watch:{
            pl_loaded: function(){
                //console.log("Hey Called PL watch");

            },
        },
        filters: {
            toCurrency: function (x) {
                if (!x) return ''
                x=x.toString();
                var afterPoint = '';
                if(x.indexOf('.') > 0)
                    afterPoint = x.substring(x.indexOf('.'),x.length);
                afterPoint=afterPoint.substring(0,3);
                x = Math.floor(x);
                x=x.toString();
                var lastThree = x.substring(x.length-3);
                var otherNumbers = x.substring(0,x.length-3);
                if(otherNumbers != '')
                    lastThree = ',' + lastThree;
                var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;

                return res;
            },
            toPercent: function(x,y) {
                var value=parseFloat(x)/parseFloat(y);
                value=value*100;
                value=value.toFixed(2);

                // console.log("Percentage Value is ");
                // console.log(value);
                return value;
            }
        }
    });

</script>
{% endblock %}

